/* search page */

.bookSearch {
  position: absolute;
  margin-left:280px;
  margin-right:25px;
  z-index:1;
}

#numInput {
  width: 350px;
}

#spinner {
  position: absolute;
  margin-left:360px !important;
  margin-top: -25px;
}

.listing {
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left:1px !important;
  z-index:1;
}
