/* library page */

.bookLibrary {
  position: absolute;
  margin-left:280px;
  margin-right:25px;
  z-index:1;
}

.listing {
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin:10px;
  z-index:1;
}
