.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#FAFBFC;
  box-shadow: 0 3px 4px -2px rgba(0,0,0,.2);
  margin-bottom: 1rem;
}

/* top left logo */
.title {
  font-size: 1.2rem;
  margin-left: 17.5rem;
  margin-right: 2.2rem;
}

.buttons ul {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  margin: 0;
  padding: 0;
  display: flex;
}

.buttons li {
  list-style: none;
}

.buttons li a {
  text-decoration: none;
  color: #6C757D;
  font-size: 0.9rem;
  padding: 1.2rem;
  display: block;
}
.buttons li a:hover {
  color: black;
  cursor: pointer;
  background-color:#f0f3f5;
}

.rightInfo {
  display: flex;
  align-items: center;
}

.leftInfo {
  display: flex;
  align-items: center;
}

.links ul {
  display: flex;
  padding: 0;
  margin: 0;
}	

.links li {
  list-style: none;   
}

.login ul {
  margin: 0;
  padding: 0;
  margin-right: 17.5rem;
  margin-left: 2.2rem;
}

.login li {
  list-style: none;
}
