/* search page */

.bookSearch {
    position: absolute;
    margin-left:280px;
    margin-top:80px;
    margin-right:25px;
    z-index:1;
}


#numInput {
    width: 350px;
    margin-left:10px;
}

.listing {
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin:10px;
    z-index:1;
    
}
